*{
    padding: 0;
    margin: 0;
    
}
body{
    
    background-color: #48435C;
    text-align: center;
}
.outer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inner{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.8);
    font-size: 8vmin;
    color:red;
    background-color: #5E9F76;
}
.hide{
    display: none;
}
#newbtn{
    height: 10vmin;
    height: 40px;
    width: 100px;
    padding :10px;
    border-radius: 1rem;
    background-color: green;
    color: white;
    font-size: medium;
    border: none;
}
#reset{
    height: 40px;
    width: 100px;
    padding :10px;
    border-radius: 1rem;
    background-color: red;
    color: white;
    font-size: medium
    border: none;
1}
.msg{
    color: blue;
    font-size: 40px;
}

